@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    padding: 0 2rem;
  }
}

.dropzone {
  height: fit-content;
  min-height: 200px;
  max-height: 400px;
  width: 400px;
  border-radius: 5px;
  border: 2px dashed var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  width: inherit;
  min-height: 200px;
  max-height: 400px;
  cursor: pointer;
}

img {
  width: 50%;
  height: 50%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 1em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  margin: 20px;
  padding: 1.2em 2.4em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.progress-bar {
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-text);
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.progress-bar span {
  height: 100%;
  border-radius: 10px;
  background-color: #00a34f;
}

.result-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0px;
  border-radius: 5px;
  border: 2px dashed var(--color-text);
  color: var(--color-text);
}

.result {
  width: 100%;
}

.result pre {
  max-height: 200px;
  overflow: auto;
}

.result h3 {
  color: #ff0000;
  margin-top: 1rem;
}

.result:last-child pre {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.chart-container {
  margin-top: 1rem;
  border: 2px dashed var(--color-text);
  border-radius: 5px;
  display: flex;
  gap: 4rem;
}